{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <title>Book ED - Logout</title>

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static  'assets/img/BookED_Logo1.png'  %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

<div class="log2" style="text-align: center">
    <img style="max-width:200px;min-height: 150px;" src="{% static  'assets/img/BookED_Logo1.png'  %}"> </img>
    <div class="container">
        <div class="border-top pt-3">
            <h3>Cya later, You have been logged out !</h3>
            <small class="text-muted">
               Would you like to go to <a style="font-size: 15px; font-weight: bolder;" href="{% url 'login' %}">Login Page</a> or the <a style="font-size: 15px; font-weight: bolder;" href="{% url 'Main-Home' %}">Home Page</a> ?
            </small>

        </div>
    </div>
    <!-- <img style="max-width:250px;min-height: 250px;" src  ="{% static  'assets/img/book_smile.gif'  %}"></img> -->
</div>




</body>
</html>