{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <title>Book ED - PassReset</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static  'assets/img/BookED_Logo1.png'  %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

<div class="log2">
  <div class="row" style="  margin:auto;
      display:block;
      ">
    
        <div class="btn-group btn-breadcrumb">
          
            <a class="btn btn-success">Send Email</a>
            <a class="btn btn-success">Confirm Email</a>
            <a class="btn btn-success">Choose New Password</a>
            <a class="btn btn-success">Success</a>
        </div>
    <div class="container" style="text-align: center;">
      
      <img style="max-width:300px;min-height: 200px;" src="{% static  'assets/img/BookED_Logo1.png'  %}"> </img>
        <div class="border-top pt-3">
            <h3>You password has been changed</h3>
            <medium class="text-muted">
                Log back to account <a href="/login" style="color: rgb(13, 13, 105);font-weight: bolder;">here</a> !
            </medium>
        </div>
    </div>
</div>

</body>
</html>