{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Book ED - PassReset</title>
  
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static  'assets/img/BookED_Logo1.png'  %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <div class='fixed-top'>
    {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{message}}
            </div>
          {% endfor %}
    {% endif %}
  </div>

{% load crispy_forms_tags %}
<div class="log">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }} <!-- the | tells what filter to use in this case crispy-->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Request Change</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>