{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Book ED - Filter Form</title>

      <!-- Favicons -->
    <link href="{% static 'assets/img/BookED_Logo1.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/filter.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  </head>
  <div class='fixed-top'>
    {% if messages %}
           {% for message in messages %}
             <div class="alert alert-{{ message.tags }} alert-dismissible">
               <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
               {{message}}
             </div>
           {% endfor %}
     {% endif %}
   </div>
   
   
   
     <header id="header" class="fixed-top">
       <div class="container d-flex align-items-center">
         <a href="/"><img src="{% static 'assets/img/BookED_Logo1.png' %}" alt="MainLogo" class="img-fluid" width="100" height="100"></a>
   
         <nav class="nav-menu d-none d-lg-block">
           <ul>
             <li><a href="/">Home</a></li>
             <li><a href="/market">Marketplace</a></li>
             <li class="active"><a href="/filter">Find Your Book</a></li>
   
           </ul>
         </nav>
   
         {% if user.is_authenticated %}
         <a href="/profile" class="get-started-btn scrollto">Profile</a>
         <a href="{% url 'Post-Create' %}" class="get-post-btn scrollto">New Post</a>
         {% else %}
         <a href="/login" class="get-started-btn scrollto">Login</a>
         <a href="/register" class="get-register-btn scrollto">Register</a>
         {% endif %}
         
   
       </div>
     </header>
  <body>

    {% load main_extras %}
   

    <main role="main" class="container">
      
      <h3>Hello {{user.username}} this is your book selection:</h3>
      <form method="GET" action=".">
        <label for="category">Title:</label>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_contains" placeholder="Title contains..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
      <div class="form-row">
        <div class="form-group col-12">
          <div class="myDIV" style="color: cornflowerblue;">What is ISBN ?</div>
            <div class="hide">
              <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">International Standard Book Number</h5>
                <p class="card-text">The International Standard Book Number (ISBN) is a numeric commercial book identifier which is intended to be unique. You can locate it close to the bar code of your book</p>
                </div>
              </div>
            </div>
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="id_exact" placeholder="ISBN code..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
      <div class="form-row">
         <div class="form-group col-md-4">
            <label for="category">School:</label>
            <select id="category" class="form-control" name="schools" readonly>
              <!-- <option selected>Institution You are Engaged</option> -->
            
                <option value="{{ schools_all }}">{{ schools_all }}</option>
              
             </select>
        </div>
        <div class="form-group col-md-4">
          <label for="category">Course:</label>
          <select id="course" class="form-control" name="course" readonly>
             <!-- <option selected>Course You are Engaged</option> -->
          
              <option value="{{ course_all }}">{{ course_all }}</option>
        
           </select>
      </div>
        <div class="form-group col-md-4">
          <label for="category">Class:</label>
          <select id="classes" class="form-control" name="classes" readonly>
             
              <option value="{{ classes_all }}">{{ classes_all }}</option>
  
           </select>
      </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="category">Semesters:</label>
            <select id="semester" class="form-control" name="semester" readonly>
               
                <option value="{{ semester_all }}">{{ semester_all }}</option>
        
             </select>
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMin">Publish date minimum</label>
            <input type="date" class="form-control" id="publishDateMin" name="date_min">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMax">Publish date maximum</label>
            <input type="date" class="form-control" id="publishDateMax" name="date_max">
          </div>
       
      </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="reviewed" name="sponsored">
            <label class="form-check-label" for="reviewed">
              Save More
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <hr />
        <h2>Filtered Posts</h2>
        <br>
        <ul>
            {% for post in post_page_obj %}
          <div class="container">
            <div class="blog-card alt">
              <div class="meta">
                <div class="photo" style="background-image: url({{post.post_img.url}})"></div>
                <ul class="details">
                  <li class="author"><a href="{% url 'Post-Detail' post.id %}">{{ post.title }}</a></li>
                  <li class="date">{{ post.date_posted|date:"F d, Y" }}</li>
                  <li class="tags">
                    <ul>
                      <li><a href="{% url 'User-Posts' post.author.username %}">School : {{  post.schools }}</a></li>
                      <li><a href="{% url 'User-Posts' post.author.username %}">Semester : {{  post.semester }}</a></li>
                      <li><a href="{% url 'User-Posts' post.author.username %}">ISBN Number : {{  post.isbn }}</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="description">
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                <a class="mr-2" href="{% url 'User-Posts' post.author.username %}">{{ post.author }}</a>
                <h1><a href="{% url 'Post-Detail' post.id %}">{{ post.title }}</a></h1>
                <h2>{{ post.date_posted|date:"F d, Y" }}</h2>
                <p>{{ post.content|truncatewords:50 }}</p>
                <p class="read-more">
                  <a href="{% url 'User-Posts' post.author.username %}">Read More...</a>
                </p>
              </div>
            </div>
              <br>
          {% endfor %}
        </ul>
        <div class="container" style="text-align: center;"> 
            {% if post_page_obj.has_previous %}
            <a href="{% my_url 1 'page' request.GET.urlencode %}" class="btn btn-success mb-4"><< First</a>
            <a href="{% my_url post_page_obj.previous_page_number 'page' request.GET.urlencode %}" class="btn btn-success mb-4"> < Previous</a>
            {% endif %}
    
            {% if  post_page_obj.has_next %}
            <a href="{% my_url post_page_obj.next_page_number 'page' request.GET.urlencode %}" class="btn btn-success mb-4">Next ></a>
            <a href="{% my_url post_page_obj.paginator.num_pages 'page' request.GET.urlencode %}" class="btn btn-success mb-4">Last >></a>
            {% endif %}
          </div>
          
  

    </main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
