{%extends 'main/base.html'%}


{% block content %}
 
  
    
               <!-- ======= News ======= -->
    <div class="container">
      <div class="section-title">
        <span>Latest News</span>
        <h2>Latest Education News</h2> </div>
         
       <section id="featured-services" class="featured-services">
        {% for articless in articles %}
        <figure class="snip1527">
          <div class="image"><img src="https://i.imgur.com/qNV4rMU.jpg" alt="pr-sample25" /></div>
          <figcaption>
              <p> Author: {{articless.author}} </p>
              <p> Date: {{articless.publishedAt}} </p>
              <h3>{{articless.title}}</h3>
              <p> {{articless.description}} </p>
          </figcaption> <a href="{{articless.url}}"></a>
      </figure>
        {% endfor %}
      </section>
  </div>
     
    
{% endblock content %}



