{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Book ED - Marketplace</title>
  
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/BookED_Logo1.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  
  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

 

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/css/filter.css' %}">

</head>

<body>
<div class='fixed-top'>
 {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{message}}
          </div>
        {% endfor %}
  {% endif %}
</div>

  <!-- ======= Header ======= -->

  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="/"><img src="{% static 'assets/img/BookED_Logo1.png' %}" alt="MainLogo" class="img-fluid" width="100" height="100"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active"><a href="#market">Marketplace</a></li>
          <li><a href="/filter">Find Your Book</a></li>

       
    
      {% if user.is_authenticated %}
      <a href="/profile" class="get-started-btn scrollto">Profile</a>
      <a href="{% url 'Post-Create' %}" class="get-post-btn scrollto">New Post</a>
      {% else %}
      <a href="/login" class="get-started-btn scrollto">Login</a>
      <a href="/register" class="get-register-btn scrollto">Register</a>
      {% endif %}
    
      
    </ul>
  </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->

  {% block content %}

    <main id="main">
      <div class="container" style="margin-top: 13%;">
    
      <a href="/filter" type="button" class="btn btn-success"><i class="fa fa-search"></i> Search for Books</a>
      <br>
      <br>
      <legend class="border-bottom mb-4"></legend>
        <!-- ======= Marketplace ======= -->
        {% for post in posts %}
        <div class="container">
          <div class="blog-card alt">
            <div class="meta">
              <div class="photo" style="background-image: url({{post.post_img.url}})"></div>
              <ul class="details">
                <li class="author"><a href="{% url 'Post-Detail' post.id %}">{{ post.title }}</a></li>
                <li class="date">{{ post.date_posted|date:"F d, Y" }}</li>
                <li class="tags">
                  <ul>
                    <li><a href="{% url 'User-Posts' post.author.username %}">School : {{  post.schools }}</a></li>
                    <li><a href="{% url 'User-Posts' post.author.username %}">Semester : {{  post.semester }}</a></li>
                    <li><a href="{% url 'User-Posts' post.author.username %}">ISBN Number : {{  post.isbn }}</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="description">
              <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
              <a class="mr-2" href="{% url 'User-Posts' post.author.username %}">{{ post.author }}</a>
              <h1><a href="{% url 'Post-Detail' post.id %}">{{ post.title }}</a></h1>
              <h2>{{ post.date_posted|date:"F d, Y" }}</h2>
              <p>{{ post.content|truncatewords:50 }}</p>
              <p class="read-more">
                <a href="{% url 'Post-Detail' post.id %}">Read More...</a>
              </p>
            </div>
          </div>
            <br>
      {% endfor %}
    </div>
      <div class="container" style="text-align: center;"> 
      {% if is_paginated %}
        {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-success mb-4"><< First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-success mb-4"> < Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a href="?page={{ num }}" class="btn btn-success mb-4">{{num}}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}" class="btn btn-success mb-4">{{num}}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-success mb-4">Next ></a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-success mb-4">Last >></a>
        {% endif %}
      </div>
      {% endif %}
      {% endblock content %}
    </div>
  <br>
  </main><!-- End #main -->
  <br>
  <br>
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <footer>
      <div class="row justify-content-around mb-0 pt-5 pb-0 ">
          <div class=" col-11">
              <div class="row justify-content-center">
                  <div class="col-md-3 col-12 font-italic align-items-center mt-md-3 mt-4">
                      <h5><span> <img class="image-footer"  src="{% static 'assets/img/BookED_Logo1.png' %}" class="img-fluid mb-1 "></span><b class="text-dark"> Book<span style="color: green;"> ED</span></b></h5>
                      <small class="copy-rights cursor-pointer">&#9400; 2020 BookED Ltda</small><br> <small>Copyright. All Rights Reserved. </small>
                  </div>
                  <div class="col-md-3 col-12 my-sm-0 mt-5">
                      <ul class="list-unstyled">
                          <li class="mt-md-3 mt-4">Our Solution</li>
                          <li>Intergrated Security Platform</li>
                          <li>Core Features</li>
                          <li>Product Features</li>
                          <li>Pricing</li>
                      </ul>
                  </div>
                  <div class="col-md-3 col-12 my-sm-0 mt-5">
                      <ul class="list-unstyled">
                          <li class="mt-md-3 mt-4">Your needs</li>
                          <li>Intergrated Security Platform</li>
                          <li>Core Features</li>
                          <li>Product Features</li>
                          <li>Pricing</li>
                      </ul>
                  </div>
                  <div class="col-xl-auto col-md-3 col-12 my-sm-0 mt-5">
                      <ul class="list-unstyled">
                          <li class="mt-md-3 mt-4">Offer</li>
                          <li>Intergrated Security Platform</li>
                          <li>Core Features</li>
                          <li>Product Features</li>
                          <li>Pricing</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
</div>
<center>
    <div class="footer-top">

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

 

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
</center>

</body>
</html>


