{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Book ED - Post Form</title>

  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static  'assets/img/BookED_Logo1.png'  %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">


  <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  

</head>

<body>

  <div class='fixed-top'>
    {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{message}}
            </div>
          {% endfor %}
    {% endif %}
  </div>

  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Create Post</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="user" class="label">Title</label>
            {{  form.title }}
          </div>
          <div class="group">
            <label for="pass" class="label">Content</label>
            {{ form.content }}
          </div>
          <div class="group">
            <label for="pass" class="label">School</label>
            {{ form.schools }}
          </div>
          <div class="group">
            <label for="pass" class="label">Courses</label>
            {{ form.course }}
          </div>
          <div class="group">
            <label for="pass" class="label">Classes</label>
            {{ form.classes }}
          </div>
          <div class="group">
            <label for="pass" class="label">Semester</label>
            {{ form.semester }}
          </div>
          <div class="group">
            <label for="pass" class="label">ISBN Number</label>
            {{ form.isbn }}
          </div>
          <div class="group">
            <label for="pass" class="label">Image</label>
            {{ form.post_img }}
          </div>
          <div class="group">
            <label for="pass" class="label">Visible</label>
            {{ form.visible }}
          </div>
          <div class="group">
            <button class="button" type="submit">Post</button>
          </div>
        </div>

  

</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
              $('#id_schools').select2({placeholder: 'Select the school you study at...', maximumSelectionLength: 2, maximumInputLength: 7 });
              $('#id_course').select2({placeholder: 'Select the course you are currently studying...', maximumSelectionLength: 2, maximumInputLength: 7});
              $('#id_classes').select2({placeholder: 'Select the class from the course...', maximumSelectionLength: 2, maximumInputLength: 7});
              $('#id_semester').select2({placeholder: 'Select the semester you are currently studyin example: 1,2,3...', maximumSelectionLength: 2, maximumInputLength: 7});
          });  
</script>
</html>