{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Book ED - Post Detail</title>
  
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  
  <link href="{% static 'assets/img/BookED_Logo1.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
 
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

 
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/filter.css' %}" rel="stylesheet">

</head>

<body>
<div class='fixed-top'>
 {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{message}}
          </div>
        {% endfor %}
  {% endif %}
</div>



  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <a href="/"><img src="{% static 'assets/img/BookED_Logo1.png' %}" alt="MainLogo" class="img-fluid" width="100" height="100"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/market">Marketplace</a></li>
          <li><a href="#services">FAQs</a></li>
          <li><a href="#portfolio">Partners</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav>

      {% if user.is_authenticated %}
      <a href="/profile" class="get-started-btn scrollto">Profile</a>
      <a href="{% url 'Post-Create' %}" class="get-post-btn scrollto">New Post</a>
      {% else %}
      <a href="/login" class="get-started-btn scrollto">Login</a>
      <a href="/register" class="get-register-btn scrollto">Register</a>
      {% endif %}
      

    </div>
  </header>
  
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
        {% block content %}

        <div class="container">
          <div class="blog-card alt">
            <div class="meta">
              <div class="photo" style="background-image: url({{post.post_img.url}})"></div>
            </div>
            
            <div class="description">
              <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
              <a class="mr-2" href="{% url 'User-Posts' post.author.username %}">{{ object.author }}</a>
              {% if object.author == user %}
              <a href="#" class="btn btn-success btn-sm mt-1 mb-1">Transfer</a>
              <a href="{% url 'Post-Update' object.id %}" class="btn btn-primary btn-sm mt-1 mb-1">Update</a>
              <a href="{% url 'Post-Delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
              {% else %}
              <a href="#" class="btn btn-success btn-sm mt-1 mb-1">Buy</a>
              {% endif %}
              <h1><a href="{% url 'Post-Detail' post.id %}">{{ object.title }}</a></h1>
              <h2>{{ object.date_posted|date:"F d, Y" }}</h2>
              <p>{{ object.content }}</p>
              <p>School : {{  object.schools }}</p>
              <p>Semester : {{  object.semester }}</p>
              <p>ISBN Number : {{  object.isbn }}</p>
            </div>
          </div>
            <br>
  
      {% endblock content %}
    </div>
  </section>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>


  <script src="{% static 'assets/js/main.js' %}"></script>


</body>
</html>


